<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="FirstNameLength" value="1"/>
    <add key="SurnameLength" value="3"/>
    <add key="Email" value="1"/>
    <add key="Phone" value="7"/>
    <add key="Add1" value ="1"/>
    <add key="Add2" value ="1"/>
    <add key="City" value ="3"/>
    <add key="County" value ="3"/>
    <add key="Level" value ="1"/>
    <add key="Course" value ="1"/>
    
  </appSettings>
  
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Jet_School\Desktop\Desktop 372017\10353766CA 02262017 Final (2)\10353766CA 02262017 Final\10353766CA\10353766CA\Student.mdf;Integrated Security=True" />
    <!--<add name="_10353766CA.Properties.Settings.StudentConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Student.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>